
<footer class="page-footer font-small elegant-color pt-2 ">

  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
      <div class="row">
          <!--First column-->
          <div class="col-md-5">
              <h5 class="text-uppercase">Autify</h5>
              <p>Spotify siempre al día.</p> <!--El eslogan pot cambiar en el futur...-->
          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-4">
            <h5 class="text-uppercase">Contactanos</h5>
            <p>contactoautify@autify.com</p>
        </div>
          <!--/.Second column-->

          <!--Third column-->
          <div class="col-md-3">
            <h5 class="text-uppercase">Preguntas frecuentes</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="#!">Qué es Autify?</a>
                </li>
                <li>
                    <a href="#!">Cómo funciona Autify?</a>
                </li>
                <li>
                    <a href="#!">Es seguro utilizar Autify?</a>
                </li>
            </ul>
        </div>
        <!--/.Third column-->
      </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="footer-copyright py-1 text-center">
      © 2018
      <a href="#"> Autify </a>
  </div>
  <!--/.Copyright-->

</footer>
