footer{
    font-family: Circular;
}

.elegant-color {
    background-color: #2E2E2E;
    color: #DCDCDC;
}

a{
    color: #1db853;
}
.row{
    font-size:13px;
    margin-top:-10px;
}

.col-md-5{
    top:10px;
}
.col-md-4{
    top:10px;
}
.col-md-3{
    top:10px;
}
