.navbar-brand, .userName {
    color: #FFFFFF;
    font-family: Circular;
}

.logout {
    color: rgba(255,255,255,.5);
    font-family: Circular;
    font-size: 0.7rem;
}

.logout:hover {
    color: rgba(255,255,255,1);
    text-decoration: none;
}

nav {
    margin-bottom: 2rem;
}
