
<nav class="navbar navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard" title="Ir a la página principal">
      Autify
    </a>
    <div>
      <img src="/assets/img/Spotify_Icon_RGB_White.png" width="30" height="30" class="d-inline-block align-top" alt="">
    </div>
    <div class="row">
      <div class="col">
        <img src="{{ userImg }}" height="45px" width="45px" alt="Imagen del usuario">
      </div>
      <div class="col">
        <div class="row userName">{{ userName}}</div>
        <div class="row"><a class="logout" href="/logout">cerrar sesion</a></div>
      </div>
    </div>
  </div>
</nav>
