
.imgCrearPlaylist {
    width: 100%;
    height: 348px;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

@media only screen and (max-width: 768px){
    .imgCrearPlaylist {
        height: 288px;
    }
}

.col-md-4 {
    margin-bottom: 2rem;
}

.card:hover {
    cursor: pointer;
    /*background-color: slategray;*/
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}

.card:hover i {
    color: rgba(0, 0, 0, 0.54);
}

h3, .card-text {
    font-family: Circular;
}

.calendar {
    margin-left: -13.5rem;
}
 .actFech {
     margin-bottom: 1rem;
 }
