<div class="row actFech">
    <div class="col-md-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="material-icons calendar">
                calendar_today
                </i></span>
          </div>
          <input type="date" name="data" id="date" [(ngModel)]="data" class="form-control" placeholder="Selecciona una fecha..." aria-describedby="basic-addon1">
          <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="updatePlaylists()" title="Actualiza tus playlists a partir de la fecha indicada">Actualizar</button>
          </div>
        </div>
    </div>
</div>
<h3>Tus Playlists</h3>
<div class="row">
  <div class="col-md-4">
    <div class="card" title="Crear playlist en Spotify" (click)="irCrearPlaylist()">
      <div class="card-img-top imgCrearPlaylist justify-content-center media">
        <i class="material-icons md-48 md-dark md-inactive align-self-center">add_circle_outline</i>
      </div>
      <div class="card-body">
        <p class="card-text">Crear Playlist</p>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngFor="let playlist of playlists">
      <div class="card" routerLink="/playlist/{{playlist.id}}" title="Ir a la playlist">
        <img class="card-img-top" src="{{playlist?.images[0]?.url}}" alt="Imagen de la playlist">
        <div class="card-body">
          <p class="card-text">{{playlist.name}}</p>
        </div>
      </div>
  </div>
</div>
