<app-header *ngIf="user"></app-header>
<div class="container">
    <div class="row">
      <div class="col-12">
        <router-outlet *ngIf="user"></router-outlet><!-- Modificarà per el router quan estigui definit -->
      </div>
    </div>
  </div>
<app-login *ngIf="!user"></app-login>
<app-footer></app-footer>
