<div class="container">
  <h1>Preguntes freqüents</h1>
  <div class="pregunta_1 col-md-10">
    <h2>Que es Autify?</h2>
      
        <div class="col-md-10">
          <p>Autify es una aplicación para maximizar tu experiencia con Spotify.</p>
        </div>
        
        <div class="col-md-12">
          <p>Con Autify podras añadir las nuevas canciones de tus artistas favoritos. Cada vez que un artista que sigas suba una cancion, Autify la añadirá automaticamente a su respectiva Playlist.</p>
        </div>
  </div>    
  <div class="pregunta_2 col-md-10">
    <h2>Como funciona Autify?</h2>
    <div class="col-md-12">
        <p>
          Es muy sencillo:
        </p>
        <p>
            Primero, haces login con tu cuenta de Spotify, al hacer login, podras ver todas tus Playlists.
            Accede a una de tus Playlists y verás todos los artistas que contiene tu Playlist.
            Al seleccionar uno de los artistas, este quedara marcado y sus canciones se añadiran a tu lista de forma automatica.  
        </p>
    </div>
    
  </div>
  <div class="pregunta_3 col-md-10">
    <h2>Es segur utilitzar Autify?</h2>
    <div class="col-md-12">
      <p>Es  tan seguro como usar Spotify.</p>
    </div>  
</div>
</div>
