   .back{
       background-image: url("assets/img/wallpaper1.png");
       background-size: cover;
       height: 500px;
       background-repeat: no-repeat;
       background-attachment: fixed;
   }
   .back::before{
       content: "";
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 500px;
       background-color: rgba(222,106,0,0.17); /*Filtre Taronja*/
       /*background-color: rgba(255,255,255,0.25); /*Filtre Blanc*/
   }
   .wall{
        width: 100%;
    }
    .btn{
        margin: auto;
        color: white;
        font-family: Circular;
        font-size: 14px;
        border-radius: 500px;
        padding: 16px 48px 18px;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 700;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border-width: 0;
        letter-spacing: 2px;
        min-width: 240px;
        text-transform: uppercase;
        white-space: normal;
        line-height: 1;
   }

   .text1{
        color:black;
        font-size:25px;
        margin: 2rem;
        font-family: Circular;
    }
   .text2{
       color:black;
       font-size:22px;
       margin: 1.5rem;
       font-family: Circular;
       /*background-color: rgb(255,255,255,0.4);
border-radius: 1rem;
padding: 0.5rem;*/
   }

   .loginDiv {
        background-color: rgb(255,255,255,0.4);
        border-radius: 1rem;
        padding: 0.5rem;
   }

   .logoSpotify {
        margin: 1.5rem;
        height: 75px;
   }

@media only screen and (max-width: 768px){
    .btn {
        font-size: 10px;
        padding: 1rem;
    }

    .loginDiv {
        background-color: inherit;
   }

    .logoSpotify {
        margin: 1.5rem;
        height: 50px;
   }
}
@media only screen and (min-width: 1824px){
    .back, .back::before {
        height: 1000px;
    }
}
