    <div class="wall">
       <div class="back">
                <div class="container align-items-center">
                        <div class="row justify-content-center h-2000">
                            <div class="col-md-8 justify-content-center text-center">
                                <div class="text1">
                                        <h1>AUTIFY</h1>
                                        <div class="">Spotify siempre al día</div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center h-1000">
                            <div class="col-md-6 justify-content-center text-center my-auto loginDiv">
                                <img  class="logoSpotify" src="assets/img/Spotify_Logo_RGB_Green.png" alt="" height="100px">
                                <a href="/auth/spotify"><button class="btn btn-success">INICIAR SESION CON SPOTIFY</button></a>
                                <div class="text2">Entra con tu cuenta de Spotify para actualizar tus playlists al momento.</div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
