<div class="row">
  <ng-container *ngFor="let artista of autors; let i = index">
    <div class="col-md-2 justify-content-center center-icon" *ngIf="i < 5 || allArtists">
      <div class="circleOut hot center-icon" *ngIf="artista.followed">
        <div class="circleIn center-icon" data-placement="bottom" title="{{artista.name}}">
          <img (click)="changeStatus(artista.id)" class="rounded-circle" src="{{artista.img}}" alt="Imagen del artista">
        </div>
      </div>
      <div class="circleIn center-icon" data-placement="bottom" title="{{artista.name}}" *ngIf="!artista.followed">
        <img (click)="changeStatus(artista.id)" class="rounded-circle" src="{{artista.img}}" alt="Imagen del artista">
      </div>
    </div>
  </ng-container>
  <div class="col-md-2 center-icon">
      <i class="material-icons md-48 md-dark align-self-center media" (click)="viewArtists()" data-placement="bottom" title="Mostrar más" *ngIf="!allArtists">add_circle_outline</i>
      <i class="material-icons md-48 md-dark align-self-center media" (click)="viewArtists()" data-placement="bottom" title="Mostrar menos" *ngIf="allArtists">remove_circle_outline</i>
  </div>
</div>
