.row {
    margin-bottom: 1rem;
}

.col-md-2 {
    margin-bottom: 2rem;
    height: 150px;
}

.artista {
    margin-bottom: 2rem;
}

.center-icon {
    display:flex;
    justify-content:center;
    align-items:center;
}

.center-icon i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.26);
}

.followed {
    border: 3px solid yellow;
    border-radius: 50%;
}

img {
    border-radius: 50%;
    width:120px;
    height:120px;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 93%;
    height: 93%;
    cursor: pointer;
  }

.circleIn {
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 135px;
    height: 135px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background: white;
  }

.circleOut {
	width:150px;
	height:150px;
    border-radius:50%;
    top: 0; left: 0; bottom: 0; right: 0;
    cursor: pointer;
}

.hot {
	background: rgb(239,59,0);
	background: linear-gradient(to right, rgba(239,59,0,1) 0%,rgba(244,159,0,1) 100%) center center;
}

.circleOut:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.08);
}

.circleIn:hover {
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2),0 0 0 1px rgba(0,0,0,0.08);
}
