.btnPlsSpotify {
    color: white;
    font-family: Circular;
    border-radius: 500px;
}

.playlistName {
    margin-bottom: 1rem;
}
.playlistTitle {
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 2rem;
}

h2, h3, li {
    font-family: Circular;
}

ol {
    margin-bottom: 2rem;
}
