<div class="container">
  <div class="row playlistTitle">
    <div class="col-md-3">
        <h2 class="playlistName">{{playlistName}}</h2>
    </div>
    <div class="col-md-2">
        <a href="{{playlistUrl}}" class="btn btn-success btnPlsSpotify">Mostrar playlist en Spotify</a>
    </div>
  </div>
  <app-llista-autors></app-llista-autors>
  <div class="row">
    <div class="col-md-9">
      <h3>Tracks</h3>
      <ol class="list-group list-group-flush">
        <ng-container *ngFor="let item of playlist; let i = index">
          <li class="list-group-item">
            {{i+1}} - {{item?.track.name}}
          </li>
        </ng-container>
      </ol>
    </div>
    <div>
      <!--<iframe [src]="trustedUrl"  width="525" height="605" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->
    </div>
  </div>
</div>
